* {
    font-family: Helvetica, sans-serif;
    background-color:rgb(222, 221, 221)y;
}

body {
    text-align: center;
}

ul, ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

ul li {
    text-align: left;
}
