* {
    font-family: Helvetica, sans-serif;
    background-color:rgb(222, 221, 221);
}

body {
    text-align: center;
    display: block; 
    background-color: lightslategray;
    height: 200vh;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    background-color: lightslategray;
    padding: 30px;
    width: 46.25rem;

}

ul, ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

ul li {
    text-align: left;
}
